﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AcceptAtheleteToUniversity.aspx.cs" Inherits="Lemonaid_web_api.AcceptAtheleteToUniversity" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       <asp:Button ID="btnSubmit" runat="server" Text="Accept" OnClick="btnSubmit_Click" Visible ="true" Width="97px"/>
        <br />
        <br />
        <asp:Label ID="lblmsg" runat="server" Visible="false"></asp:Label>
        <br />
    </div>
    </form>
</body> 
</html>
