﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UploadAthleteShareVideoByClubCoach.aspx.cs" Inherits="Lemonaid_web_api.UploadAthleteShareVideoByClubCoach" %>

<%-- <html>

    <body>
        <form runat="server">
     <input type="file" name="files" runat="server" /><br />
        <asp:Button ID="Button1" Text="click" OnClick="Button1_Click" runat="server" />
            </form>
    </body>
</html>--%>
